/*
 * Globals
 */
 html, body {
   height: 100%;
 }
 
 h1, h2, h3, h4, h5, h6, blockquote, pre, img, .card, .navbar {
  margin:0;
  padding:0;
  border:0;
  font-size: 100%;
  font: inherit;
}

h1, h2, h3, h4, h5, h6, .navbar {
  font-family: 'Amatic SC', cursive;
  font-size: 150%;
}

/*
 * Carousel
 */

.carousel-item {
  height: 32rem;
  font-size: 500%;
}

.carousel-item > img {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /* height: 32rem; */
}

.jumbotron{
	background-image: url("../images/kao-hero-flat-lay-1.jpg");
	background-size: cover;
	min-height: 50%;
	margin: 0;
	padding: 0;
  border: 0;
  color: #fff;
  font-family: 'Amatic SC', cursive;
	font-size: 300%;  
}

.jumbotron .container-fluid{
  padding: 5%;
}

.card {
  max-height: 50%;
  padding: 10%;
  font-size: 150%;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

footer img{
  max-height: 15em;
  padding: 2.5em;
}
